i.icon {
    font-size: 1.5em;
}

.buttons {
    display: flex;
    margin-top: 2rem;
}

.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

body {
    background-color: #DADADA;
}

.column {
    max-width: 450px;
}