<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/login" method="POST">
        <input type="text" name="username" paceholder="username">
        <input type="password" name="password" paceholder="password">
        <button>Login</button>
    </form>
</div>
<% if(success) { %>
    <div class="ui modal">
        <div class="header">logado com sucesso</div>
    </div>
<% } %>

<% include ./partials/footer %>