<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Sign Up</div>
    <form class="ui form" action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Submit</button>
    </form>
</div>

<% include ./partials/footer %>